body{
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,.5);
}
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

@import url(https://fonts.googleapis.com/css?family=Inder|Great+Vibes);
.banner {
  position: relative;
  width: 100%;
  height: 500px;
  background: url(https://static.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg) no-repeat 50% 30%;
  background-size: 100%;
  margin-bottom: 20px;
  animation: background linear 12s alternate 1s infinite;
}  
.banner__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.banner__container{
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  text-align: center;
  color:grey;
  font-size: 1.5em;
}

.banner__hero{
  font-family: 'Josefin Sans';
  font-weight: 300;
  font-size: 3em;
  text-align: center;  
  color:grey;
  margin-bottom: 5px;
}

.banner__text{
  margin: 0 0 15px 0;
}

@keyframes background {
    0% {
    background: url(https://static.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg) no-repeat 50% 30%;
    background-size: 100%;
    transition: background 0.5s ease-in-out;
    }
    100% {
    background: url(https://static.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg) no-repeat 50% 60%;
    background-size: 100%;
    transition: background 0.5s ease-in-out;
    }
}
.welcome {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-content: start;
  align-items: baseline;
  text-align: center;
}  
.welcome__title {
    font-family: 'great vibes';
    font-size: 5em;
    margin-bottom: 20px;
    color: #24662A;
    text-align: center;
}
.title{
    font-family: 'great vibes';
    font-size: 3em;
    margin-top: -16%;
    margin-left: -8%;
    color: #24662A;
    text-align: center;
}
@media all and (max-width: 980px) {
  .banner {
    padding-top: 0;
}
@media all and (max-width: 980px) {
    .welcome {
      padding-top: 0;
  }
@media all and (max-width: 980px) {
    .Pizza_Size {
      padding-top: 0;
  }
  
.button {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #eee;
  text-decoration: none;
  color: #333;
  transition: background-color .5s ease;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
\@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Patrick+Hand+SC|Waiting+for+the+Sunrise);
body{
  font-family:Patrick Hand SC;
  font-size:25px;
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5FtRG4p7xaINAsAJvCHPI6pwOsn3_SIupRyiZxWtG9ubWAzm');
  background-size:cover;
}
h1{
  font-family:Cabin Sketch;
  font-size:80px;
}

