body{
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,.5);
    overflow-x: hidden;
}
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

@import url(https://fonts.googleapis.com/css?family=Inder|Great+Vibes);
.banner {
  position: relative;
  width: 100%;
  height: 500px;
  background: url(https://static.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg) no-repeat 50% 30%;
  background-size: 100%;
  margin-bottom: 20px;
  animation: background linear 12s alternate 1s infinite;
}  
.banner__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.banner__container{
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  text-align: center;
  color:rgba(0,0,0,.5);
  font-size: 1.5em;
}

.banner__hero{
  font-family: 'Josefin Sans';
  font-weight: 300;
  font-size: 3em;
  text-align: center;  
  color:rgba(0,0,0,.5);
  margin-bottom: 5px;
}

.banner__text{
  margin: 0 0 15px 0;
}

@keyframes background {
    0% {
    background: url(https://static.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg) no-repeat 50% 30%;
    background-size: 100%;
    transition: background 0.5s ease-in-out;
    }
    100% {
    background: url(https://static.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg) no-repeat 50% 60%;
    background-size: 100%;
    transition: background 0.5s ease-in-out;
    }
}
.welcome {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-content: start;
  align-items: baseline;
  text-align: center;
}  
.welcome__title {
    font-family: 'great vibes';
    font-size: 5em;
    margin-bottom: 20px;
    color: #24662A;
    text-align: center;
}

@media all and (max-width: 980px) {
  .banner {
    padding-top: 0;
}
  
.nav {
    border-radius: 0;    
}
.nav.visible {

}
.nav {
    height: initial;
    overflow: initial;
    transition: height .3s ease;
    flex: 1 1 auto;
}
.nav-button {
      display: inline-flex;
      flex: 1 1 auto;
}
  
.nav {
    height: 0;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-wrap: nowrap;
    align-content: stretch;
}    
.nav.li {
      width: 100%;}
.nav:hover .nav__sub {
        display: flex;
        flex-direction: column;
      }
nav.a {
        text-align: center;
      }
    }
.nav__sub {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    position: initial;
}   
.nav.li {
    flex: 0 1 auto;
}

.button {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #eee;
  text-decoration: none;
  color: #333;
  transition: background-color .5s ease;
}
.button.b:hover,:active {
    color: #fff;
    background-color: darken(#eee, 50%);
    transition: background-color .5s ease;
  }
.button-button--primary {
    background-color: red-tomato;
    color: #fff;
}   
.button:hover,:active {
      background-color: darken(red-tomato, 10%);
      color: #eee;
    }
  }
}